.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: white;

}

.left-side {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.button-menu {
  position: fixed;
  top: 11px;
  left: 1%;
}

.youtube-icon {
  position: fixed;
  height: 45px;
  top: .5%;
  left: 6%;
}

.menu-content {
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0px;
    z-index: 1000;
    background-color: white;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 8px;
  z-index: 0;
  transform: translateX(-50%);
}

.search-input {
  width: 57vb;
  height: 40px;
  margin-right: 0;
  border-radius: 50px;
}

.search-button {
  margin-left: 0;
  width: 8vb;
  height: 40px;
  background-color: lightgray;
}

.mic-icon {
  width: 40px;
  margin-left: 2.5%;
}

.right-side{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.create-icon{
  position: fixed;
  width: 20px;
  right: 9%;
}

.bell-icon {
  position: fixed;
  right: 5.5%;
  height: 35px;

}

.user-icon {
  position: fixed;
  right: 1.1%;
  height: 40px;
}

