.header {
    position: fixed;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;

}

.slide-in-menu-enter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-250px);
}

.slide-in-menu-enter-active {
    transform: translateX(0px);
    transition: transform .3s ease-in-out;
 
}

.slide-in-menu-exit {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(0px);
}

.slide-in-menu-exit-active {
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
}

.menu-content {
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0px;
    z-index: 1000;
    background-color: white;
}

.fade-in-overlay-enter {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.fade-in-overlay-enter-active {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 100;
    transition: opacity 0.3s ease-in-out;

}

.fade-in-overlay-exit {
  opacity: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.fade-in-overlay-exit-active {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
}